.DiceGame1-container{
    background-image: url('./game1/asset/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 100vw;
}