.DiceHistory_shadow {
    width: 220px;
    height: 33px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 20%;
    clip-path: polygon(
      50.02% 98.485%,
      50.02% 98.485%,
      44.974% 97.5%,
      39.943% 94.551%,
      34.933% 89.649%,
      29.947% 82.804%,
      24.993% 74.027%,
      20.075% 63.328%,
      15.2% 50.717%,
      10.372% 36.204%,
      5.598% 19.8%,
      0.882% 1.515%,
      99.157% 1.515%,
      99.157% 1.515%,
      94.442% 19.8%,
      89.667% 36.204%,
      84.84% 50.717%,
      79.964% 63.328%,
      75.046% 74.027%,
      70.092% 82.804%,
      65.107% 89.649%,
      60.096% 94.551%,
      55.065% 97.5%,
      50.02% 98.485%
    );
    background-color: #1ae5a1;
  }
