.CircularProgressBar-img{
    background-image: url('../../../../asset/img/GameImg/Section2/whiteDice.png');
    background-position: center;
    background-size: cover;
    width: 110px;
    height: 110px;
}