.HomeLayout-container{
    position: relative;
    background-image:linear-gradient(to bottom , rgb(18, 24, 37), rgba(255, 255, 255, 0)20%, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgb(18, 24, 37)) , url('../../../asset/img/HomeImg/bgHome.png');
    background-position: top;
    background-size: cover;
    margin-top: 10px;
    height: 600px;
}
  
.scene {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  margin: auto;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.face {
  position: absolute;
  width: 100px;
  height:100px;
  background: #d8d8d8;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.face.one { 
    transform: rotateY(0deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/1.png');
    background-size: cover;
}
.face.two { 
    transform: rotateY(90deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/2.png');
    background-size: cover;
}
.face.three { 
    transform: rotateY(180deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/3.png');
    background-size: cover;
}
.face.four { 
    transform: rotateY(-90deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/4.png');
    background-size: cover;
}
.face.five { 
    transform: rotateX(90deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/5.png');
    background-size: cover;
}
.face.six { 
    transform: rotateX(-90deg) translateZ(50px); 
    background-image: url('../../../asset/img/HomeImg/3Ddices/6.png');
    background-size: cover;
}
