.GameLayout1-Btn-style{
    width: 90%;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1ae5a1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 12px 1px #1ae5a1bc;
    color: #ffe26f;
    font-size: 0.8rem ;
    line-height: 1.5rem ;
}

.GameLayout1-section2-bodyStyle{
    width: 90%;
    height: 210px;
    margin-inline: auto;
    box-shadow: inset 0px 0px 20px 1px #1ae5a1b5;
    border: 1px solid #1ae5a1;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    padding-block: 20px;
    padding-inline: 10px;
}

.GameLayout1-section2-BTN{
    color:#ffe26f;
    padding: 10px;
    width: 95%;
    height: 42px;
    margin-bottom: 15px;
    border :1px solid #cafd7b;
    border-radius: 10px;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 7px 1px #ffe17454;
    padding-inline:10px;
}

.GameLayout1-section3-BTN{
    position: relative;
    background: rgba(58, 58, 58, 0.44);
    color: rgba(255, 226, 111, 0.28);
    padding: 10px;
    width: 95%;
    height: 42px;
    margin-bottom: 15px;
    border:1px solid rgba(202, 253, 123, 0.30);;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 7px 1px rgba(202, 253, 123, 0.59);
}

.GameLayout1-section2-img-style{
    min-width: 100px;
    min-height: 100px;
    background-image: url('../../../../asset/img/NavbarImg/DTScoin.png');
    background-size: 130%;
    background-position: center;
    filter: drop-shadow(0px 0px 52.400001525878906px rgba(26,229,161,0.59));
}

