.Carousel1-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 290px;
}

.Carousel1-Image-card-Style{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-width: 200px;
    max-width: 320px;
    height: 214px;
    margin-inline: 10px;
    border-radius: 25px;
    border: 1px solid var(--green2, #1AE5A1);
}